<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.contact">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Contact"
        tools:targetApi="31">
        <activity
            android:name=".ui.chat.Chatting"
            android:exported="false" />
        <activity
            android:name=".ui.chat.AddChatFriendList"
            android:exported="false" />
        <activity
            android:name=".ui.chat.SearchChat"
            android:exported="false" />
        <activity
            android:name=".ui.home.notification.Notification"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.settings.ManagePlan"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.settings.DetailPlanSettings"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.info.dutchpay.Receipt"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.info.dutchpay.DutchAdd"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.info.dutchpay.DutchPay"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.info.InfoUpdate"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.info.PlanDetailInfo"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.add.DetailPlanAdd"
            android:exported="false" />
        <activity
            android:name=".ui.plan.detail.PlanDetail"
            android:exported="false" />
        <activity
            android:name=".ui.home.add_plan.AddFriendToPlan"
            android:exported="false" />
        <activity
            android:name=".ui.home.friend.add.AddFriend"
            android:exported="false" />
        <activity
            android:name=".ui.home.friend.FriendManagement"
            android:exported="false" />
        <activity
            android:name=".ui.home.add_plan.AddPlan"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sign.Login"
            android:exported="false" />
        <activity
            android:name=".ui.Splash"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KakaoNativeAppKey}" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.firebase.MyFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>